.divs {
  background-color: aqua;
}

.MainContainer {
  margin-bottom: 20px;
  margin-top: 40px;
}

.AddMovie {
  color: grey;
  text-decoration: none;
}

.SearchBar {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 20px;
}

.Card {
  text-align: center;
  max-width: 950px;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  padding: 40px 25px;
  margin-top: 50px;
  background-color: #36486b;
  color: white;
  border-radius: 10px;
}

.Links {
  color: #618685;
  text-decoration: none;
}
