.Main {
  margin-bottom: 10px;
  padding-top: 60px;
}

.CommentStyle {
  display: flex;
  border: 1px solid #618685;
  padding-left: 20px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.userName {
  font-weight: bold;
  margin-right: 5px;
}

.Main-Container {
  margin-bottom: 20px;
  background-color: #36486b;
  color: white;
  height: 800px;
}
